<div class="container-fluid">
  {{#if chromeless}}
    {{outlet log}}
  {{else}}
    <div class="navbar" style="margin-bottom:0">
      <div class="navbar-inner">
        <a class="brand" href="#">GiddyUp</a>
        {{outlet projects}}
      </div>
    </div>
    {{outlet scorecards}}
    {{outlet testResults}}
    {{outlet scorecard}}
  {{/if}}
</div>
