<div class="row-fluid">
  <div class="span3 well">
    <ul class="nav nav-list">
      <li class="nav-header">
        {{controller.test.platform}} <br /> {{controller.test.name}} <br />{{controller.test.backend}} backend
      </li>
      {{#each controller.test_results}}
      <li class="test-result">
        {{#if success}}
          <span class="btn btn-success pull-right">Success</span>
        {{/if}}
        {{#if failure}}
          <span class="btn btn-danger pull-right">Failure</span>
        {{/if}}
        <a {{action showTestResult this href=true}}>Test Run #{{id}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="span9">
    <pre>{{outlet testResult}}</pre>
  </div>
</div>
