<table class="table table-striped">
  <thead>
    <tr><th>Name</th><th>Platform</th><th>Backend</th><th>Log</th></tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td>
          {{#if status}}
            <span class="label label-success">Pass</span>
            {{else}}
            <span class="label label-important">Fail</span>
          {{/if}}
          {{test.name}}          
        </td>
        <td>
          {{test.tags.platform}}
        </td>
        <td>
          {{#if test.tags.backend}}
            <b>{{test.tags.backend}}</b>
            {{else}}
            (backend not set)
          {{/if}}
        </td>
        <td>
          <a class="btn" target="_blank" {{bindAttr href="log_url"}}>Log</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>