{{#with view}}
  {{#if success}}
  <a {{action showTestResult this href=true}}><span class="label label-success">Success</span> {{timeAgo}} [{{versionString}}]</a>
  {{else}}
  <a {{action showTestResult this href=true}}><span class="label label-important">Failure</span> {{timeAgo}} [{{versionString}}]</a>
  {{/if}}
{{/with}}
