{{#with view}}
  {{#if success}}
  <a {{action showTestResult this href=true}}><span class="label label-success">Success</span> {{time_ago}} [{{long_version}}]</a>
  {{else}}
  <a {{action showTestResult this href=true}}><span class="label label-important">Failure</span> {{time_ago}} [{{long_version}}]</a>
  {{/if}}
{{/with}}
