<div class="row-fluid">
  <div class="span3 well">
    <ul class="nav nav-list">
      <li class="nav-header">
        {{controller.test.platform}} <br /> {{controller.test.name}} <br />{{controller.test.backend}} backend
      </li>
      {{#each controller.test_results}}
      <li class="test-result">
        {{#if success}}
        <a {{action showTestResult this href=true}}><span class="label label-success">Success</span> Test Result: {{id}}</a>
        {{/if}}
        {{#if failure}}
        <a {{action showTestResult this href=true}}><span class="label label-important">Failure</span> Test Result: {{id}}</a>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </div>
  {{#if controller.testResult}}
    <div class="span9">{{outlet testResult}}</div>
  {{else}}
    <div class="span9 well">Select a test result to view a log of its test run.</div>
  {{/if}}
</div>
